security/wazuh/single-node/.github
security/wazuh/.DS_Store
security/.DS_Store
images
*.pdf
zadani_A24545_748442.jpg
zadani_A24545_74844.jpg
sablona_utb_bpdp_2025_cz.dotx
*.docx
platba_Alexandr_Tomecek.png
